
@{ ViewData["Title"] = "Gallery Page";

                var products = (List<Product>)ViewData["products"];
                var likes = (List<string>)ViewData["likes"]; }

@section Scripts
    {
    <script src="~/js/shared/image_gallery.js"></script>
}

<style>
    table {
        width: 100%;
        margin: auto;
    }

    .badge {
        font-size: 14px !important;
    }

    .like_icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 30px;
        cursor: pointer;
    }

    .img_container {
        position: relative;
    }

    .badge_container {
        position: absolute;
        left: 10px;
        bottom: 10px;
        opacity: 0.7;
    }

    .button {
        width: 40px;
        height: 40px;
        position: absolute ;
        bottom: 10px;
    }

    .bold_menu {
        font-weight: bold;
    }
</style>

<input autofocus placeholder="search" class="form-control" type="text" autocomplete="off" name="Search" id="search" />
<br />
<table>


    @for (int i = 0; i < products.Count; i++)
    //@for (int i = 0; i < Product_Image.Count; i++)

    {
        if (i % 3 == 0)
        {
@:<tr>
}
       
@:<td>
    @:<div class="img_container">
        @:<img src=@products[i].Product_Image width="350" height="250" />
        <br />
                        <br />
                                        <p>Product Name: @products[i].Product_Name</p>//@photos[i].Url
                        <p>Product Description: @products[i].Product_Description</p>
                                        <p>Price: @products[i].Unit_Price</p>
                                        @:<input type="text" id="quantity" />
                                                        @:<input type="button" id="add" value="Add item" asp-controller="Gallery" asp-action="AddToCart">
                                                        <br />
                                                                        <br />
                                                                                    @:</div>
                                                                                @:</td>


                                                                                if ((i + 1) % 3 == 0)
                                                                                {
                                                            @:</tr>
                                                        }
                                                    }


</table>