@{
    ViewData["Title"] = "Index";
    var products = (List<Product>)ViewData["products"];
    var likes = (List<string>)ViewData["likes"];
}
@section Scripts
    {
    <script src="~/js/shared/image_gallery.js"></script>
}
<style>
    table {
        width: 100%;
        height:100%;
        margin: auto;
    }
    .badge {
        font-size: 14px !important;
    }
    .like_icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 30px;
        cursor: pointer;
    }
    .img_container {
        @* position: relative;*@
        vertical-align: top;
    }
    .badge_container {
        position: absolute;
        left: 10px;
        bottom: 10px;
        opacity: 0.7;
    }
    .button {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 10px;
    }
    .bold_menu {
        font-weight: bold;
    }
    td {
        padding: 10px;
        text-align: center;
        position: relative;
        vertical-align: top;
    }
    .view {
        vertical-align: bottom;
    }
    #desc {
        height: 120px;
    }
</style>
<input autofocus placeholder="search" class="form-control" type="text" autocomplete="off" name="Search" id="search" />
<table>
    @for (int i = 0; i < products.Count; i++)
    {
        if (i % 3 == 0)
        {
            @:<tr>
            }
            <td>
                <form method="post" id="form" action="/Cart/AddToCart">
                    <div class="img_container">
                        <input type="hidden" name="Product_ID" value="@products[i].Product_ID" />
                        <input type="hidden" name="Email" value="anisha@gmail.com" />
                        <img src=@products[i].Product_Image width="350" height="250" position="relative" />
                        <div><strong>@products[i].Product_Name</strong></div>
                        <div id="desc">@products[i].Product_Description</div>
                        <div><b>$@products[i].Unit_Price</b></div>
                    </div>
                    <div class="view">
                        <input type="text" id="quantity" name="Quantity" />
                        <button type="submit" class="btn btn-success">Add To Cart</button>
                    </div>
                </form>
            </td>
 if ((i + 1) % 3 == 0)
            {
            @:</tr>
        }
    }
</table>