@{
    ViewData["Title"] = "Index";
    var products = (List<Product>)ViewData["products"];
    var likes = (List<string>)ViewData["likes"];

}

@section Scripts
    {
    <script src="~/js/shared/image_gallery.js"></script>
}

<style>
    table {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .badge {
        font-size: 14px !important;
    }

    .like_icon {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 30px;
        cursor: pointer;
    }

    .img_container {
        position: relative;
    }

    .badge_container {
        position: absolute;
        left: 10px;
        bottom: 10px;
        opacity: 0.7;
    }

    .button {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 10px;
    }

    .bold_menu {
        font-weight: bold;
    }

    td {
        padding: 10px;
        text-align: center;
        vertical-align: top;
    }

    #desc {
        height: 120px;
    }

    #Quantity {
        
        width: 10%;
        vertical-align: middle;
        font-size:12px;
        
    }
    #add {
        vertical-align: middle;
        font-size: 12px;
    }
    .input-group{
        
    }
</style>



<form method="post" action="/Gallery/Index">
    <nav class="navbar navbar-expand-sm bg-white navbar-dark">
        <div class="input-group mb-3">

            <input type="text" name="search" id="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>

        </div>

    </nav>
</form>



<table>




    @{ int i = 0;}
    @foreach (var item in Model)

    {


        @if (i % 3 == 0)
        {
            @:<tr>
            }


        @:<td>
            @:<div class="img_container">
                @:<form method="post" id="form" action="/Cart/AddToCart">
                    <input type="hidden" name="Product_ID" value=@item.Product_ID />
                    <input type="hidden" name="Email"/>
                    @:<img src=@item.Product_Image width="350" height=250 /><br><br>
                    <div>
                        Product Name: @item.Product_Name
                    </div><br><br>
                    <div id="desc">@item.Product_Description</div><br>
                    <div>
                        Price: @item.Unit_Price
                    </div><br>


                          <div class="input-group justify-content-center">
                              <select class="custom-select col-sm-2 align-items-center" id="Quantity" name="Quantity" >
                                  <option selected value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  
                                 
                              </select>
                              <div class="input-group-append">
                                  <button type="submit" class="btn btn-outline-success" id="add">Add</button>
                              </div>
                          </div>


                @:</form>




            @:</div>






        @:</td>


        @if ((i + 1) % 3 == 0)
        {
        @:</tr>
    }
        { i++; }
    }


</table>
