@{
        ViewData["Title"] = "My Purchases";
        var orderimg = (List<string>)ViewData["OrderImg"];
        var ordername = (List<string>)ViewData["OrderName"];
        var orderdesc = (List<string>)ViewData["OrderDesc"];
        var orderdate = (List<string>)ViewData["OrderDate"];
        var ordernum = (List<int>) ViewData["OrderNum"];
        var actcode = (List<string>) ViewData["ActCode"];
        var sessionId = (string)ViewData["sessionId"];
}



<style>
    .table 
    {

    }

    .img_container{

    }

    .desc_container{

    }

    .desc{

    }
</style>


<table>
    @for(int i = 0; i < orderimg.Count; i++)
    {
        if(i % 1 == 0)
        {
    @:<tr>
        }
        @:<td>
            @:<div class="img_container">
                @:<img src="orderimg[i]" width="235" height="350" />
            @:</div>
            @:<div class="desc_container">
                @:<span class="desc">ordername[i]</span>
                @:<span class="desc">orderdesc[i]</span>
            @:</div>
        @:</td>
        @:<td class="order_details">
            @:<span class="Od_desc">orderdate[i]</span>
            @:<span class="Od_desc">ordernum[i]</span>
            @:<span class="Od_desc">actcode[i]</span>
        @:</td>
    @:</tr>
    }
</table>