* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 0px;
    margin-left: 200px;
    width: 80%;
    height: 60%
}

.Required:after {
    content: "*";
    color: red;
}


body {
    }

.row {
    background: #b3b3b3;
    border-radius: 10px;
    height: 60%;
    width: 60%;
}

.btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

    .btn:hover {
        background-color: white;
        border: 1px solid;
        color: black;
    }

#error_msg {
    color: red;
    padding: 3px;
    text-align: center;
    font-family: 'Times New Roman, Times, serif';
}